.not-found {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found a {
  display: block;
  margin : 20px;
  text-decoration: none;
  color: tomato;
}
.not-found a:hover {
  text-decoration: underline;
}
